body {
background-color: #c413dbde;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #01f567;
color: rgb(0, 0, 0);
font-family: "Bai Jamjuree", sans-serif;
}